[Unit]
Description=Dell G Series keyboard profile brightness
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/libexec/dell-g-series-controller-brightness
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
